@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* Global*/

* {
  margin: 0px;

  padding: 0px;
}

#app {
  background: linear-gradient(to right, #ffffff, #ece9e6);

  box-sizing: border-box;

  padding: 32px;

  height: 100dvh;
}

img {
  user-select: none;
}

.icon {
  height: 24px;

  width: 24px;

  object-fit: contain;
}

.input-container button {
  background: none;

  border: none;

  cursor: pointer;

  display: flex;
}

.form {
  display: flex;

  flex-direction: column;

  gap: 8px;
}

.form h1 {
  color: #525252;

  user-select: none;

  font-family: 'Inter', sans-serif;

  font-size: 2.75rem;

  padding: 8px;

  width: max-content;
}

.form p {
  color: #525252;

  font-family: 'Inter', sans-serif;

  padding: 8px;

  user-select: none;
}

.form p a {
  color: #2563eb;

  cursor: pointer;

  font-weight: bolder;

  padding: 8px;

  text-decoration: none;
}

/* View */

.view {
  align-items: center;

  display: flex;

  height: 100%;

  justify-content: center;
}
